{% extends 'venue_base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Timates - Venue{% endblock title %}
{% block content %}
{% include 'venue_booking_form.html' %}
<style>
    a:hover{
        text-decoration: none;
    }
    .card-deck {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: .5rem;
    }
    .card{
        transition: 0.3s;
    }
    .card:hover{
        transform: scale(1.05);
    }
</style>
<h2 class="text-body text-center text-info mt-4">Official Venue Partners</h2>
<div class="venue-list d-flex justify-content-center flex-wrap m-5">
    {% if venues %}
    <div class="card-deck">   
        {% for venue in venues %}
            <div class="card venue-card">
                <a href="{% url 'venue_page' venue.id %}">
                    <img class="card-img-top venue-img" src="{{ venue.image.url }}" alt="Venue Image">
                    <div class="card-body">
                        <h3 class="card-title venue-name text-info">{{ venue.name|title }}</h3>
                        <p class="card-text text-muted venue-location">{{ venue.short_address|title }}</p>
                        <p class="card-text text-muted venue-price">Mulai dari <span class="text-danger">Rp. {{ venue.price|intcomma }}</span></p>
                        <p class="card-text text-muted venue-category">{{ venue.category|title }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-light" role="alert">There's currently no venues in our database<br>Please contact our admin.</div>
    {% endif %}
</div>
{% endblock content %}