{% load static %}
<style>
    .venue-form-body{
        padding-top: 10%;
        height: 70vh;
        background: url(/static/img/form-bg.jpg) no-repeat center;
    }
</style>
<div class="venue-form-body text-white">
    <div class="d-flex justify-content-around">
        <h1>Book Now!</h1>
    </div>
    <div class="d-flex justify-content-around">
        <form method="POST" class="w-25">
            {% csrf_token %} 
            {{ venue_book_form }}
            <div class="text-center">
                <input type="submit" class="m-4 btn btn-success text-white">
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
        $("#id_datetime").datetimepicker({
        format: 'd/m/Y H:i',
        });
    });
</script>