{% extends 'base.html' %}
{% load static %}
{% block title %}Tournament{% endblock %}
{% block content %}

<section class="vh-100">
    <div class="d-flex justify-content-center align-items-center" style="padding-top: 100px;">
        <img src="{% static 'img/cheerleader.png' %}" alt="SUCCESS" width=300px>
    </div>
    <div>
        <h1 class="text-center"><strong>SUCCESS</strong></h1>
        <p class="text-center">
        Thanks for joining the tournament. Goodluck!<br>
        The host will contact you in no time for confirmation! :)
        </p>
    </div>

    <a class="d-flex justify-content-center align-items-center" href="{% url 'home' %}tournament/">
        <button type="button" class="btn btn-primary mx-auto mt-2" style="height: 42px">Back</button>
    </a>
</section>

{% endblock %}