{% extends 'base.html' %}
{% load static %}
{% block title %}Tournament{% endblock %}
{% block content %}

<style>
    .games{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .each-game{
        height: auto;
        width: 300px;
        margin-bottom: 10px;
        margin-top: 60px;
    }

    #join{
        margin-bottom: 50px;
        margin-top: 50px;
    }
</style>

<section class="d-flex justify-content-around align-items-center vh-100">

    <a href="#make">
        <button type="button" class="btn btn-primary" style="font-size: 35px">Make a<br>Tournament</button>
    </a>

    <a href="#join">
        <button type="button" class="btn btn-primary" style="font-size: 35px">Join a<br>Tournament</button>
    </a>

</section>

<section id="make">
    <h1 class="d-flex justify-content-center">Make a Tournament</h1>
    <div style="margin: auto 25%;">
        <form class="d-flex flex-column my-2 w-90" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <p class="w-100 justify-content-center my-1">{{ field.label }}: <br> {{ field }}</p>
            {% endfor %}
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>

<!--JOIN Section-->
<section id="join" class="flex-column">
    <h1 class="d-flex justify-content-center">Join a Tournament</h1> 
         
        <div class="games">
                {% for i in tournament %}
                <div class="d-flex align-items-center justify-content-center">
                <div>
                    <!--utk image-->
                    <img src="{% static 'img/trophy.png' %}" alt="BD" width=135px>
                </div>
                <div>
                    <!--utk detail turnamen-->
                    <div class="d-flex align-content-center">
                        <p class="each-game text-center">
                        <strong>{{ i.event }}</strong><br>  
                        Person needed: {{ i.player }}<br>
                        {{i.location}}<br>
                        {{i.contact}}<br>
                        {{i.date}}<br>
                        {{i.time}}<br>
                        </p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'home' %}tournament/landing/">
                            <button type="button" class="btn btn-primary mx-auto mt-2" style="height: 42px">Join</button>
                        </a>  
                        <!-- <form method="POST" action="{% url 'championship' %}">
                            {% csrf_token %}
                            <input name="id" value="{{i.id}}" type="hidden">
                            <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2" style="font-size: 0.8rem; height: 42px">Delete</button>
                            
                        </form>  -->
                    </div>
                </div> 
            </div>
                {% endfor %}
            


        </div>
   
</section>
{% endblock %}