<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
        <link rel="shortcut icon" href="{%static 'img/icon.ico'%}" />
        <title>{% block title %}{% endblock  %}</title>
        {% block head %}
        {% endblock  %}
    </head>
    <body>
        <style>
            .navbar-toggler-icon{
                filter: brightness(0);
            }
        </style>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{%static 'img/logo.png'%}" alt="TM" width=30px>
            </a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto font-weight-bold">
                <li class="nav-item active">
                    <a class="nav-link text-dark" href="{% url 'home' %}findpartner/">Find Partner<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'home' %}venue/">Booking Venue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'home' %}tournament/">Tournament</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'home' %}news/">Blog & News</a>
                </li>
                </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock  %}
        <div class="bg-info text-center">
            <img src="{%static 'img/logo_full.png'%}" alt="TM" width=135px>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>