{% extends 'base.html' %}
{% load static %}
{% block title %}Timates{% endblock %}
{% block content %}

<div class="d-flex justify-content-around align-items-center vh-100">
    <img src="{% static 'img/logo_full.png' %}" alt="" width=500px> 
</div>

<div class="d-flex flex-wrap justify-content-around align-items-center vh-100">
    <div> <!--Foto Feature-->
        <img src="{% static 'img/buat_permainan.png' %}" alt="" width=300px>  
    </div>
    <div> <!--Tulisan Feature-->
        <h1 class="text-center"><strong>Find Game</strong></h1>
        <p class="text-center">
            Together is more fun!<br>
            Create a new game to play with anyone<br>
            or join others to play together!
        </p>
        <a class="d-flex justify-content-center" href="{% url 'home' %}findpartner/">
            <button type="button" class="btn btn-primary">Play Now</button>
        </a>        
    </div>
</div>

<div class="d-flex flex-wrap justify-content-around align-items-center vh-100">
    <div>
        <img src="{% static 'img/booking_venue.png' %}" alt="" width=300px>  
    </div>
    <div>
        <h1 class="text-center"><strong>Booking Venue</strong></h1>
        <p class="text-center"> Find and book a vanue now!<br>
            Because fun game is no fun without<br>a perfect place to play it at.
        </p>
        <a class="d-flex justify-content-center" href="{% url 'home' %}venue/">
            <button type="button" class="btn btn-primary">Book Now</button>
        </a>        
    </div>
</div>
<div class="d-flex flex-wrap justify-content-around align-items-center vh-100">
    <div>
        <img src="{% static 'img/turnamen.png' %}" alt="" width=300px>  
    </div>
    <div>
        <h1 class="text-center"><strong>Tournament</strong></h1>
        <p class="text-center">
           Play and be the champion!<br>
           Host a tournament or join any to increase<br>your level of competitiveness.
        </p>
        <a class="d-flex justify-content-center" href="{% url 'home' %}tournament/">
            <button type="button" class="btn btn-primary">Find Tournament</button>
        </a>        
    </div>
</div>
<div class="d-flex flex-wrap justify-content-around align-items-center vh-100">
    <div>
        <img src="{% static 'img/news.png' %}" alt="" width=300px>  
    </div>
    <div>
        <h1 class="text-center"><strong>Blog & News</strong></h1>
        <p class="text-center">
            It's better to stay up-to-date~<br>
            Read or post any latest sport news and share it<br>
            for the world to see.
        </p>
        <a class="d-flex justify-content-center" href="{% url 'home' %}news/">
            <button type="button" class="btn btn-primary">Read Now</button>
        </a>        
    </div>
</div>
{% endblock %}