<!DOCTYPE html>
{% extends 'base.html' %} 
{% load static %}
{% block content %}
<html>
    <style>
            .games{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                align-content: center;
            }
            
            .each-game{
                height: auto;
                width: 300px;
                margin-bottom: 10px;
                margin-top: 60px;
            }
    </style>

    <head>
            <title>Find Partner</title>
       </head>

    <div class="d-flex justify-content-around align-items-center vh-100">
         
        <a href="#host">
            <button type="button" class="btn btn-primary" style="font-size: 35px">Host a<br>New Game</button>
        </a>
          
        <a href="#join">
            <button type="button" class="btn btn-primary" style="font-size: 35px">Join Available<br>Games</button>
        </a>
            
    </div>

    <div id="host" class="flex-column">
        <h1 class="d-flex justify-content-center">Host a New Game</h1>
        <div style="margin: auto 25%;">
                <form class="d-flex flex-column my-2 w-90" method="POST">
                        {% csrf_token %}
                        {% for field in form %}

                        <p class="w-100 justify-content-center my-1">
                            {{ field.label }}: <br> {{ field }}
                        </p>
                        {% endfor %}
                        <button type="submit" value="Submit" class="btn btn-primary" style="margin-top: 30px;">Submit</button>
                </form>            
        </div>
    </div>

    <section id="join" class="flex-column" style="margin-bottom: 60px;">
        <h1 class="d-flex justify-content-center" style="padding-top: 60px;">Join Available Games</h1>                  
            <div class="games">
                {% for post in posts %}
                    <div class="d-flex align-items-center justify-content-center">
                        <div>
                            <!--utk image-->
                            <img src="{% static 'img/scoreboard.png' %}" width=135px>
                        </div>
                        <div>
                            <!--utk detail turnamen-->
                            <div class="d-flex align-content-center">
                                <p class=" each-game text-center">
                                <strong>{{ post.game_title }}</strong><br>  
                                {{post.game_type}}<br>
                                Slot: {{ post.slot }} persons<br>
                                {{post.location}}<br>
                                {{post.contact}}<br>
                                {{post.date}}<br>
                                {{post.time}}<br>
                                </p>
                            </div>
                            <div class="d-flex justify-content-center">
                                <a href = "{% url 'home' %}findpartner/success">
                                    <button type="Button" class="btn btn-primary mx-auto mt-2" style="font-size: 0.8rem;">Join</button>
                                </a>
                                <form method="POST" action="{% url 'findpartner' %}">
                                    {% csrf_token %}
                                    <input name="id" value="{{post.id}}" type="hidden">
                                </form> 
                            </div>
                        </div> 
                    </div>
                {% endfor %}
            </div>
            </section>
        

</html>

{% endblock %}