{% extends 'base.html' %}
{% load static %}
{% block title %}Add blog{% endblock %}
{% block head %}<script type="text/javascript" src="{% static 'js/redirect.js' %}"></script>{% endblock %}
{% block content %}
<div>
    <script>
        setTimeout(function(){window.location.href = "{% url 'home' %}news/";}, 5000);
    </script>
    <div class="text-center mt-5 pt-5">
        <h1>
            blog post save status = {{save_status}}
        </h1>
        <h3>
            {% if messages != 'none' %}
                reason for failure {{messages}}
            {% endif %}
        </h3>
        <p>
            this page will be redirected in few seconds, if it doesnt work click <a class="text-dark font-weight-bold" href="{% url 'home' %}news/">here</a>
        </p>
    </div>
</div>
{% endblock %}
