{% extends 'base.html' %}
{% load static %}
{% block title %}Blog & News{% endblock %}
{% block head %}<link rel="stylesheet" href="{%static 'css/news_index_style.css' %}">{% endblock %}
{% block content %}
<div class="mt-3 mb-3 ml-3 mr-3">
    <div class="mt-5 text-center">
        <h2 class="pt-5 mt-5 pb-3 mb-3 font-weight-bold">
            News
        </h2>
    </div>
    <div class="d-flex justify-content-around align-items-center pt-3 mt-3 flex-wrap">
        {% for i in  news  %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pt-3 pb-3">
                <div class="hovereffect">
                    <a href="{{ i.url }}">
                        <img class="" src="{{ i.urlToImage }}" alt="">
                            <div class="overlay">
                                <h2>{{ i.title }}</h2>
                                <p>
                                    {{ i.description}}
                                </p>
                            </div>                       
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
            <p>powered by <a class="text-dark font-weight-bold" href="https://newsapi.org">newsapi.org</a></p>
    </div>
</div>
<div>
    <div class="text-center mt-3 mb-3 ml-3 mr-3">
        <h2 class="font-weight-bold">
            Blog
        </h2>
        {% if blog_length == 0 %}
            <h2>
                be the first to create blog.
            </h2>
        {% else %}
            {% for i in blog %}
                <h3 class="font-weight-bold">
                    {{ i.title }}
                </h3>
                <h4>
                    author : {{ i.author }}
                </h4>
                <p>
                    {{ i.content }}
                </p>
                <h6>
                    posted at {{ i.posting_time|date:"F j Y" }}
                </h6>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div>
    <div class="text-center mt-3 mb-3 ml-3 mr-3">
        <h2 class="font-weight-bold">
            Add Blog
        </h2>
        <form action="{% url 'home' %}news/add-blog/" method="POST">
            <div class="form-group">
                {% csrf_token %}

                {{ add_blog_form }}
            </div>
            <button type="submit" class="btn btn-success">submit</button>
        </form>
    </div>
</div>
{% endblock %}
